.container-button{
  background-color: #0f1d24;

}

mat-card{
  background-color: #0f1d24;
}

mat-card-title{
  text-align: center;
}

.outside-form{
  width: 100%;
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.container-button{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
