<div class="container-form">
  <mat-card class="mat-card">
    <mat-card-title >Deleter Produto</mat-card-title>
    <div class="outside-form">
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price" disabled>
      </mat-form-field>
    </form>
  </div>
  </mat-card>

  <div class="container-button">
    <button mat-raised-button (click)="DeleteProduct()" id="color-b">Deletar</button>
    <button mat-raised-button (click)="goBack()">Voltar</button>
  </div>

</div>