/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #0f1d24;}

.blue{
  color: #5eb2e3
}

.v-middle{
  vertical-align: middle;
}

